<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/all.min.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/03.shop.css">
	<title>상품검색기</title>
</head>
<body>
	<div id="app">
		<div class="container">
			<div class="jumbotron">
				<h2 class="logo-title">잘팔려 쇼핑몰</h2>
			</div>
			<div class="search-wrap">
				<input type="text" class="form-control form-control-lg" @keyup="onSearch" v-model="query" autofocus placeholder="검색할 상품내용을 입력하세요.">
				<i class="fa fa-times-circle bt-reset" v-show="query.length" @click="onReset"></i>
			</div>
			<ul class="list-wrap">
				<li class="list" v-for="v in searchResult" :key="v.id">
					<img :src="v.src" :alt="v.title" class="w100">
					<ul>
						<li class="title">{{ v.title }}</li>
						<li class="desc">{{ v.description }}</li>
						<li class="price">${{ v.price }}</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<script src="../js/axios.min.js"></script>
	<script src="../js/vue.js"></script>
	<script src="../js/03.shop.js"></script>
</body>
</html>